<div class="home-page-admin-container">
  <div class="home-page-admin-content">
    <div class="home-page-admin-greetings">
      <div class="home-page-admin-greetings-container">
        <span class="home-page-admin-text-big">HELLO, ADMINISTRATOR</span>
        <span class="home-page-admin-text-medium">want to add new doctor?</span>
      </div>
    </div>
    <div class="home-page-admin-content">
      <div class="home-page-admin-info"
    </div>
    <div class="home-page-admin-actions">

    </div>
  </div>
</div>
