<div class="schedule-container">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-progress-bar color="accent" class="login-form-loading-bar" mode="indeterminate"
                      *ngIf="('schedule' | swIsLoading | async)"></mat-progress-bar>
    <mat-step *ngIf="!isReschedule">
      <form class="date-picker-form" [formGroup]="doctorFormGroup">
        <ng-template matStepLabel>Choose a doctor for appointment</ng-template>
        <div fxLayout="row wrap" fxLayoutGap="16px grid" class="doctors-container">
          <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let doctor of this.doctors">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>{{doctor.name + ' ' + doctor.surname}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <span>
                  {{doctor.doctorType}}
                </span>
              </mat-card-content>
              <mat-card-actions class="doctor-actions">
                <button color="primary" mat-raised-button (click)="chooseDoctor(doctor.id)">CHOOSE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateFormGroup" label="Choose date">
      <form [formGroup]="dateFormGroup" class="date-picker date-picker-form">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
            <input formControlName="date" [disabled]="true" matInput [matDatepicker]="picker" [min]="minDate"
                 [matDatepickerFilter]="validate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [dateClass]="dateClass" #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <div>
          <button color="warn" mat-raised-button matStepperPrevious>Back</button>
          <button color="primary" mat-raised-button (click)="this.filterTimes()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Choose time</ng-template>
      <p>Please choose free time to visit doctor. </p>
      <p>If no time suits you, try to set other date or other doctor</p>
      <form class="date-picker-form step-container" [formGroup]="timeFormGroup">
        <mat-form-field  appearance="fill">
          <mat-label>Time</mat-label>
          <mat-select required formControlName="time">
            <mat-option *ngFor="let time of availableTimes" [value]="time.value">
              {{time.view}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary" matStepperNext>Review</button>
        </div>
      </form>
    </mat-step>
    <mat-step class="step-container">
      <ng-template matStepLabel>Review</ng-template>
      <p>Here is what you chose:</p>
      <span *ngIf="this.chosenDoctor != null">Doctor: {{this.chosenDoctor.surname + ' ' + this.chosenDoctor.name + ' -  ' + this.chosenDoctor.doctorType}}</span>
      <div class="buttons">
        <button color="accent" mat-raised-button matStepperPrevious>Back</button>
        <button color="warn" mat-raised-button (click)="stepper.reset()">Reset</button>
        <button color="primary" mat-raised-button (click)="submitAppointment()">Schedule</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
