 ::ng-deep .example-custom-date-class {
  background: red;
  border-radius: 100%;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 93vh;


}

mat-vertical-stepper {
  height: 70vh;
  border-radius: 8px;
  -webkit-box-shadow: -1px 5px 30px 10px rgba(18, 18, 18, 1);
  box-shadow: -1px 5px 30px 10px rgba(18, 18, 18, 1);
}
 .content {
   padding: 1vh
 }

 .content > mat-card {
   margin-bottom: 1.5vh
 }

 .doctors-container {
   margin-top: 2vh
 }

 .buttons {
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 2vh;
   max-width: 400px;
 }

 .date-picker {
   display: flex;
   flex-direction: column;
 }

 button {
   margin-left: 0.2vw;
   margin-right: 0.2vw;
 }

 .mat-form-field {
   width: 2.5vw;
   max-width: 250px;
   min-width: 150px
 }

 .date-picker-form {
   margin-top: 1.5vh
 }

 .step-container {
   display: flex;
   flex-direction: column;

 }
