<mat-spinner
  *ngIf="'default' | swIsLoading | async"
  mode="indeterminate"
  color="warn"
  style="position: absolute; top: 0;">
</mat-spinner>
<mat-toolbar>
  <mat-toolbar-row class="header">
    <div class="header-left">
      <div class="header-item" *ngIf="!this.isAuthorized">
        <span class="header-item-text">Authorize</span>
      </div>
      <div class="header-item" *ngIf="!this.isAuthorized">
        <span class="header-item-text">Register</span>
        <mat-icon></mat-icon>
      </div>

      <div class="header-item" *ngIf="this.isAuthorized">
        <span class="header-item-text">Profile</span>
        <mat-icon class="header-item-image">account_circle</mat-icon>
      </div>

      <div class="header-item" *ngIf="this.isDoctor">
        <span class="header-item-text">My appointments</span>
        <mat-icon class="header-item-image">event</mat-icon>
      </div>

      <div class="header-item" *ngIf="this.isPatient">
        <span class="header-item-text">My appointments</span>
        <mat-icon class="header-item-image">event</mat-icon>
      </div>
      <div class="header-item" *ngIf="this.isPatient">
        <span class="header-item-text">New appointment</span>
        <mat-icon class="header-item-image">schedule_send</mat-icon>
      </div>
    </div>
    <div class="header-right">
      <div class="header-item" *ngIf="this.isAuthorized">
        <span class="header-item-text" (click)="logout()">Logout</span>
        <mat-icon class="header-item-image">logout</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet>

</router-outlet>

