.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;

}
.header-item {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left: 3%;
  margin-right: 3%;
}

.header-item-text {

  font-size: 0.7em;
}

.header-item-text-small {

  font-size: 0.4em;

}

.header-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-item-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


mat-icon {
  margin-left: 5px;
  margin-right: 5px;
}
