<div class="view-appointment-main">
  <mat-grid-list cols="3" rowHeight="0.89vh">

    <mat-grid-tile class="tile-header" [colspan]="3" [rowspan]="10">
      <mat-toolbar color="primary" class="view-appointment-header">
        <mat-toolbar-row class="toolbar-row">
          <div class="view-appointment-header-item ignore-margin-left">
            <mat-card>
              <mat-card-title>
                Appointment for
              </mat-card-title>
              <mat-card-subtitle>
                {{this.appointmentDateView}}
              </mat-card-subtitle>
              <mat-card-content>
                Status: {{this.appointmentStatusView}}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="view-appointment-header-item">
            <mat-card>
              <mat-card-title>
                Doctor:
              </mat-card-title>
              <mat-card-subtitle>
                {{this.appointment.doctor.name + ' ' + this.appointment.doctor.surname}}
              </mat-card-subtitle>
              <mat-card-content>
                {{this.appointment.doctor.doctorType}}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="view-appointment-header-item">
            <div class="view-appointment-header-item">
              <mat-card>
                <mat-card-title>
                  <p>Patient:</p>
                </mat-card-title>
                <mat-card-content>
                  {{this.appointment.patient.name + ' ' + this.appointment.patient.surname}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-grid-tile>
    <mat-grid-tile class="loader-wrapper" rowspan="1" colspan="3" *ngIf="('viewAppointment' | swIsLoading | async)">
      <mat-progress-bar color="accent" class="loading-bar" mode="indeterminate"
                        *ngIf="('viewAppointment' | swIsLoading | async)"></mat-progress-bar>
    </mat-grid-tile>

    <mat-grid-tile id="medCard" class="med-card-component" [colspan]="1" rowspan="62">
      <app-view-medical-card class="med-card-tile" [medicalCard]="this.medicalCard"
                             [patient]="this.appointment.patient">

      </app-view-medical-card>

    </mat-grid-tile>

    <mat-grid-tile *ngIf="!checkIfStarted() && !checkIfFinalized() && checkIfDoctor()" class="diagnose-actions-container" colspan="2"
                   rowspan="20">
      <div class="start-screen">
        <p>You should start appointment before interacting with patient</p>
        <button mat-raised-button color="primary" (click)="startAppointment()">Start</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!checkIfStarted() && !checkIfFinalized() && checkIfPatient()" class="diagnose-actions-container" colspan="2"
                   rowspan="20">
      <div class="start-screen">
        <p>Appointment hasn't been started yet</p>
        <p>Appointment should be started by doctor</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="checkIfStarted() || checkIfFinalized()" class="diagnose-actions-container" [colspan]="2"
                   rowspan="62">
      <div class="diagnose-actions-inputs">
        <div class="diagnose-actions-input-diagnose">

          <mat-form-field color="primary" appearance="fill">
            <mat-label>Diagnose</mat-label>
            <textarea [formControl]="this.formGroupDiagnose" #diagnose cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="15" matInput></textarea>
            <mat-error *ngIf="this.formGroupDiagnose.invalid">{{getErrorMessage(this.formGroupDiagnose)}}</mat-error>
          </mat-form-field>
          <div class="diagnose-actions-input-save" *ngIf="checkIfDoctor() && checkIfStarted()">
            <button mat-raised-button color="primary" (click)="saveDiagnose()">Save diagnose</button>
          </div>

        </div>
        <div class="diagnose-actions-input-treatment" *ngIf="checkIfDiagnoseSettled()">

          <mat-form-field color="primary" appearance="fill">
            <mat-label>Treatment</mat-label>
            <textarea [formControl]="this.formGroupTreatment" #treatment
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="15" matInput required></textarea>
            <mat-error *ngIf="this.formGroupDiagnose.invalid">{{getErrorMessage(this.formGroupTreatment)}}</mat-error>
          </mat-form-field>
          <div class="diagnose-actions-input-save" *ngIf="checkIfDoctor() && checkIfStarted()">
            <button mat-raised-button color="primary" (click)="saveTreatment()">Save treatment</button>
          </div>

        </div>
      </div>
      <div class="diagnose-actions-button" *ngIf="checkIfDoctor()">
        <div class="">
          <button mat-raised-button *ngIf="checkIfStarted()" color="warn" (click)="finalizeAppointment()">Finalize
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
