<div class="view-appointment-main">
  <mat-grid-list cols="3" rowHeight="0.89vh">

    <mat-grid-tile class="tile-header" [colspan]="3" [rowspan]="10">
      <mat-toolbar color="primary" class="view-appointment-header">
        <mat-toolbar-row class="">
          <div class="view-appointment-header-item ignore-margin-left">
            <mat-card>
              <mat-card-title>
                Appointment for
              </mat-card-title>
              <mat-card-subtitle>
                {{this.appointmentDateView}}
              </mat-card-subtitle>
              <mat-card-content>
                Status: {{this.appointmentStatusView}}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="view-appointment-header-item">
            <mat-card>
              <mat-card-title>
                Doctor:
              </mat-card-title>
              <mat-card-subtitle>
                {{this.doctorTypeView}}
              </mat-card-subtitle>
              <mat-card-content>
                {{this.doctorNameView}}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="view-appointment-header-item">
            <div class="view-appointment-header-item">
              <mat-card>
                <mat-card-title>
                  <p>Patient:</p>
                </mat-card-title>
                <mat-card-content>
                  {{this.patientNameView}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-grid-tile>

<!--    <mat-grid-tile style="background-color: #444444" [colspan]="1" rowspan="71">
      <app-view-medical-card>

      </app-view-medical-card>
    </mat-grid-tile>-->
    <mat-grid-tile *ngIf="checkForStartAbility()" style="background-color: white" colspan="3" rowspan="20">
      <div class="start-screen">
        <p>You should start appointment before interacting with patient</p>
        <button mat-raised-button  color="primary" (click)="startAppointment()">Start</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!checkForStartAbility()" style="background-color: white;" class="diagnose-actions-container" [colspan]="3" rowspan="60">
      <div class="diagnose-actions-inputs">
       <div class="diagnose-actions-input-diagnose">
         <form [formGroup]="this.formGroupDiagnose">
           <mat-form-field color="primary" appearance="fill">
             <mat-label>Please, input diagnose info here</mat-label>
             <textarea #diagnose cdkTextareaAutosize
                       #autosize="cdkTextareaAutosize"
                       cdkAutosizeMinRows="1"
                       cdkAutosizeMaxRows="10" formControlName="diagnose" matInput></textarea>
             <mat-error *ngIf="this.formGroupDiagnose.invalid">{{getErrorMessage(this.formGroupDiagnose)}}</mat-error>
           </mat-form-field>
           <div class="diagnose-actions-input-save">
             <button mat-raised-button color="primary" (click)="saveDiagnose()">Save diagnose</button>
           </div>
         </form>
       </div>
        <div class="diagnose-actions-input-treatment" *ngIf="checkTreatmentAbility()">
          <form [formGroup]="this.formGroupTreatment">
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Please, input treatment info here</mat-label>
              <textarea #treatment cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="10" formControlName="treatment" matInput required></textarea>
              <mat-error *ngIf="this.formGroupDiagnose.invalid">{{getErrorMessage(this.formGroupTreatment)}}</mat-error>
            </mat-form-field>
            <div class="diagnose-actions-input-save">
              <button mat-raised-button color="primary" (click)="saveTreatment()">Save treatment</button>
            </div>
          </form>
        </div>
      </div>
      <div class="diagnose-actions-button">
        <div class="">
          <button mat-raised-button *ngIf="checkForFinalizeAbility()" color="warn" (click)="finalizeAppointment()">Finalize</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-progress-bar color="accent" class="login-form-loading-bar" mode="indeterminate" *ngIf="('login' | swIsLoading | async)"></mat-progress-bar>
  </mat-grid-list>
</div>
