
<div class="view-appointment-container">
  <mat-grid-list cols="3" rowHeight="1.05vh">

    <mat-grid-tile style="background-color: #222222" [colspan]="3" [rowspan]="10">
      <div class="view-appointment-title">

      </div>
    </mat-grid-tile>

    <mat-grid-tile style="background-color: #444444" [colspan]="1" rowspan="71">
      <app-view-medical-card>

      </app-view-medical-card>
    </mat-grid-tile>

    <mat-grid-tile style="background-color: #AAAAAA" [colspan]="2" rowspan="71">
      Diagnose and actions
    </mat-grid-tile>
  </mat-grid-list>
</div>
